<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.roboid.component">
      <component
            class="org.raspberrypi.physical.pi.RaspberryPi"
            icon="raspberrypi16.png"
            id="org.raspberrypi.physical.pi"
            model="org.raspberrypi.physical.pi.roboid"
            name="Raspberry Pi"
            provider="www.robotmedia.kr"
            version="1.0.0">
      </component>
   </extension>

</plugin>
