<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.roboid.robot.RobotPackage"
            genModel="model/robot.genmodel"
            uri="http://www.roboidstudio.org/model/robot">
      </package>
   </extension>

</plugin>
