<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.roboid.studio.views"
            name="Roboid Studio">
      </category>
      <view
            allowMultiple="false"
            category="org.roboid.studio.views"
            class="org.roboid.studio.portmanager.views.PortManagerView"
            icon="icons/pin_red.png"
            id="org.roboid.studio.portmanager.views.manager"
            name="Port Manager"
            restorable="true">
      </view>
   </extension>

</plugin>
